body {
  background: black;
  margin: 0;
  display: table;
  width: 100%; }

header {
  height: 70px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  background: white; }
  header img {
    width: 100px;
    height: 90%; }
  header #home_icon, header #basket_logo {
    text-decoration: none;
    color: black;
    font-size: 1.5em; }

.nav_icones {
  display: flex;
  justify-content: space-between;
  width: 75px;
  align-items: center; }
  .nav_icones #basket_icon {
    position: absolute;
    top: 32px; }
  .nav_icones.confirm {
    justify-content: center; }

h2 {
  margin: 40px 40px;
  color: #FFFF;
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 3em; }

#cam_map {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 800px) {
    #cam_map {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 80px;
      margin-right: 80px; } }

.cam_card {
  background-color: #FFFF;
  width: 80%;
  height: auto;
  margin: 20px 10px 20px 10px;
  border-radius: 20px;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.993); }
  @media only screen and (min-width: 800px) {
    .cam_card {
      width: 30%;
      min-height: 425px;
      min-width: 290px; } }
  .cam_card .cam_photo {
    width: 100%;
    height: 50%; }
  .cam_card .cam_info {
    margin: 0px 10px 10px 10px; }
    .cam_card .cam_info .cam_info-name {
      font-weight: 900;
      font-size: 20px; }
    .cam_card .cam_info .btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      padding: 5px;
      text-decoration: none;
      background: black;
      color: #FFFF;
      text-align: center;
      border-radius: 5px;
      width: 30%;
      height: auto;
      align-items: center;
      line-height: 20px; }
      .cam_card .cam_info .btn:hover {
        background-color: red;
        transition: all 400ms ease-in-out; }
      .cam_card .cam_info .btn i {
        margin: 0 5px 0 5px; }
      .cam_card .cam_info .btn.btn_add-to-basket {
        width: 200px; }
        .cam_card .cam_info .btn.btn_add-to-basket:hover {
          background: #FF0000;
          transition: all 200ms; }
  .cam_card .cam_lastline {
    display: flex;
    justify-content: space-between; }
  .cam_card .cam_lastline-price {
    font-weight: 700;
    font-size: 20px;
    text-align: right; }
  .cam_card .cam_photo-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }

#product_map {
  height: 90%;
  margin-bottom: 20px; }

footer {
  align-items: center;
  background: #FFFF;
  height: auto;
  padding: 10px 20px 10px 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Staatliches', cursive; }

ul {
  list-style: none;
  margin: 0;
  font-weight: bold;
  text-align: right;
  font-size: 1.2em; }
  ul li {
    cursor: pointer; }

#basket_map {
  text-align: center;
  min-height: 530px; }
  #basket_map h1 {
    color: #ffffff;
    font-size: 3em;
    font-family: 'Staatliches', cursive;
    margin-left: 20px;
    margin-right: 20px; }
    #basket_map h1 i {
      font-size: 2em; }
  #basket_map #basket_icon {
    color: #ffffff;
    font-size: 2em;
    margin-top: 40px;
    transform: rotate(180deg); }

.products_container {
  margin: 50px 100px 0px 100px; }
  .products_container .product_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #FFFF; }
    .products_container .product_header th:not(.th_general) {
      color: #FFFF;
      font-size: 0.9em;
      width: 15%; }
    .products_container .product_header .th_general {
      width: 80%; }

@media only screen and (min-width: 600px) {
  #basket_list {
    width: 500px;
    margin-left: auto;
    margin-right: auto; } }

.purchaseCam {
  display: flex;
  margin: 20px 20px;
  padding: 10px 0px;
  justify-content: space-evenly;
  border-bottom: 1px solid #FFFFFF; }

.purchaseCam-image {
  width: 150px;
  height: 100px; }

.purchaseCam_infos {
  text-align: left;
  margin-left: 20px;
  color: #ffffff; }
  .purchaseCam_infos .purchaseCam_infos-name {
    margin: 5px 0px; }
  .purchaseCam_infos .purchaseCam_infos-id {
    margin: 0;
    font-size: 0.7em; }
  .purchaseCam_infos .purchaseCam_lense {
    margin: 10px 0px; }
  .purchaseCam_infos .trash-can {
    width: 100%;
    text-align: right;
    margin: 0; }
    .purchaseCam_infos .trash-can i {
      margin-top: 10px; }

.calculPrice {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; }
  .calculPrice .purchaseCam_total {
    color: red;
    font-size: 1.2em; }

.totalPrice h2 {
  margin: 10px;
  font-size: 2em; }
.totalPrice button {
  margin-bottom: 20px;
  padding: 0px;
  color: #FFFFFF;
  border-radius: 5px;
  width: 150px;
  height: 30px; }
  .totalPrice button:hover {
    transform: scale(1.3);
    transition: transform 150ms; }
  .totalPrice button i {
    margin-right: 10px; }
.totalPrice #valid_basket {
  background: green; }
.totalPrice #delete_basket {
  background: red; }

#form {
  display: none; }

form {
  background: #FFFFFF;
  width: 80%;
  margin: auto;
  margin: auto;
  padding: 10px;
  position: relative;
  bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px; }
  @media only screen and (min-width: 600px) {
    form {
      width: 550px; } }
  form h3 {
    margin-left: 20px;
    margin-right: 20px; }
  form .form_container {
    text-align: center; }
  form .form_contact {
    display: table;
    align-items: center; }
  form label {
    font-style: italic; }
  form label, form input {
    display: table-cell;
    margin-bottom: 10px; }
  form input:not(#validButton) {
    border-radius: 5px;
    border: 1px grey solid;
    width: 250px; }
  form #validButton {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 30px;
    border-radius: 5px; }
    form #validButton:hover {
      transform: scale(1.1);
      transition: transform 150ms; }
  form .form_contact {
    display: flex;
    flex-direction: column;
    width: 300px; }
  form .form_button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; }
  form #lastNameValid {
    color: red; }

.congratulations {
  background-color: #fa8165;
  height: auto;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  padding-bottom: 10px; }
  .congratulations .gif {
    object-fit: cover;
    width: 100%;
    border-radius: 5px; }
  .congratulations #congratulations-title {
    font-size: 1.2em;
    margin: 10px 10px;
    color: #FFFFFF; }
    .congratulations #congratulations-title p {
      font-size: 0.8em; }
  .congratulations span {
    color: black;
    font-size: 1em; }
  .congratulations strong {
    color: black;
    font-size: 2em; }

/*# sourceMappingURL=style.css.map */
